@import "../../scss/variables";
@import "../../scss/mixin";

.box {
  width: 280px;
  height: 200px;
  border: $border;
  box-sizing: border-box;
  @include flex(column, center, space-evenly);
  @media (max-width: 358px) {
    width: 233px;
  }

  .iconWrap {
    width: 54px;
    height: 54px;
    border: $border;
    border-radius: 50%;
    position: relative;

    & img {
      width: 50%;
      height: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .title {
    letter-spacing: 10px;
    font-weight: lighter;
    @include adaptiv-font(22, 18);
  }

  .stick {
    width: 35%;
    height: 1px;
    background-color: $baseColor1;
  }

  .description {
    font-weight: lighter;
    @include adaptiv-font(16, 14);
    text-align: center;
    letter-spacing: 2px;
  }
}

